*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}
html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: small;
}

img,
svg,
picture,
video {
	max-width: 100%;
}