/* NAV */
nav {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: #FFF;  
}

.nav-start {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.nav-end {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.nav-start>a,
.nav-end>a {
    padding: 1.5rem .8rem 1.6rem .8rem;
    text-decoration: none;
    font-weight: 500;
    color: #7b7b7b;
    font-size: small;
}

.logo {
    width: 9rem;
    margin: 1.1rem .4rem; 
}

/* JUMBO */
.jumbotron {
    background-color: rgb(180, 208, 230);
}

.jumbo {
    position: relative;
    width: 100%;
    height: 41rem;
}

.jumbo-title {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 80%;
    margin: 8rem 15% 0 5%;
    text-align: start;
}

.jumbo-text {
    position: absolute;
    top: 22rem;
    left: 4rem;
    width: 18rem;
    max-width: 80%;
}

.jumbo-img {
    position: absolute;
    top: 22rem;
    left: 23rem;
    width: 43rem; 
    max-width: 80%;
}

#jumbo-space {
    padding: 2rem 0; 
}

.arrow-down {
    font-size: 3rem;
    margin-top: 2.8rem;
}

.fa-arrow-down {
    color: #000000;
}

/* PLANS */
.business-title {
    margin-top: 10rem;
}

.plan {
    margin: 2rem 0;
    height: 20px;
}

.yearly {
    margin-left: 3rem;
}

.circle {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50px;
}

.circle.month {
    border: 3.5px solid #0061fe;
}

.circle.year {
    border: 2px solid #7b7b7b;
}



/* 3 COLONNE */
.colonne,
.foot-col {
    display: flex;
    justify-content: space-between;
}

.singolo {
    width: 30%;
    padding-bottom: 1rem;
    border: 1px solid #7b7b7b;
}

.singolo hr {
    width: 25%;
}

.price {
    font-weight: 500;
    padding: .5rem 0;
}

.highlights {
    list-style: none;
}

.visible-check {
    color: #0061fe;
}
.invisible-check {
    color: #FFF;
}
.column-title {
    text-align: center;
    border-bottom: 1px solid #7b7b7b;
}

.column-container {
    width: 100%;
    padding: .8rem 1.5rem;
    position: relative;
}

.buy-now a {
    color: #0061fe;
}

/* POSITION ICONS */

.icons div {
    margin-left: 15px;
}
.spaced-icon {
    position: absolute;
    left: 20px;
}

/* SECTION 3 COLONNE SPAZIATURE */

.icons,
.icons>div,
.buy-now,
.highlights li {
    padding: 1rem 0;
}

/* ENTERPRISE */

.enterprise {
    width: 100%;
    margin: 2rem 0 5rem 0;
    border: 1px solid #7b7b7b;
}

#enterprise-btn-position {
    position: relative;
}

.enterprise-title div {
    margin-top: 2rem;
}

.enterprise-title h3 {
    padding: 2rem 0 0 2rem;
}
.contact {
    padding-top: 1rem;
    font-weight: bold;
    padding-left: 2rem;
}

#solutions {
    width: 70%;
    padding: 2rem 2rem;
}

/* PARTNER */

.partner {
    position: relative;
    
}
.partner-img {
    width: 55%;
}

.partner-text {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 30%;
    margin: 0 2rem;
}

.partner-text div {
    padding: 2rem 0;
}

/* CARDS */
.card {
    width: 33%;
    display: inline-block;
}

.card h3 {
    padding: 1rem 0;
}

#card-title {
    padding: 5rem 0 2rem 0;
}

.card-text {
    padding: 1rem 1rem .5rem 0;
}

/* 500 USERS */
.users {
    width: 70%;
    height: 18rem;
    line-height: 2rem;
    text-align: start;
}

.scopri {
    margin: 7rem 0 2rem 0;
}

.clients {
    color: #0061fe;
}


/* LOGHI */

.loghi-aziende {
    display: flex;
    justify-content: flex-start;
}

.loghi {
    width: 15rem;
    height: 15rem;
    line-height: 15rem;
    text-align: center;
    object-fit: cover;   
}

#border-designit {
    width: 100%;
    height: 100%;
    border: 15px solid #d1eacd;
}

#space-designit {
    margin-bottom: 50px;
}

.loghi img {
    width: 55%;
    filter: invert();
    vertical-align: middle;
}

.central-col {
    width: 100%; 
    padding: 2rem 2rem 2rem 3rem;
    background-color: #f5f5f5;
}

/* COLONNA CENTRALE */

.central-col img {
    width: 60%;
    color: black;
}

.central-col hr {
    margin: 3rem 0;
    width: 20%;
}

#author {
    margin-top: 2rem;
}


/* DROPBOX BUSINESS */
#dropbox-business {
    width: 100%;
    height: 20rem;
    background-color: rgb(180, 208, 230);
    border: 2px dashed transparent;
}

.bring {
    width: 55%;
    height: 12rem;
    background-color: rgb(180, 208, 230);
    margin-top: 3rem;
    text-align: start;
    position: relative;
    border: 2px dashed transparent;
}

.bring h2 {
    color: #632342;
}
.bring button {
    position: absolute;
    top: 1rem;
    right: -20rem;
}

/* DOMANDE FREQUENTI */

#domande-frequenti {
    line-height: 8rem;
}

#domande-frequenti i {
    margin-left: 15rem; 
}

#domande-frequenti span {
    font-size: medium;
    font-weight: 800;
}

/* FOOTER */
footer {
    padding: 5rem 0rem 2rem 0rem;
    margin-top: 6rem;
    background-color: #000000;
    color: #FFF;
}

/* FOOTER LIST */
.foot-col ul {
    display: inline-block;
    list-style: none;
}

.foot-col h3 {
    margin-bottom: 2rem;
}

.foot-col li {
    padding: .5rem;
}

li a {
    text-decoration: none;
    color: #FFF;
}
/* LANGUAGE */

.language hr {
    margin: 4rem 0 2rem 1rem;
    width: 10%;
}

.world {
    margin-left: 1rem;
    padding-right: .2rem;
}

