/* DEBUG */

.container-small {
    /* debug */
    background-color: blueviolet;
}

.container {
    /* debug */
    background-color: rgb(180, 208, 230);
}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    width: 100%;
    height: 4rem;
    
}

.nav-start {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.nav-end {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.nav-start>div,
.nav-end>div {
    padding: 1rem;
}

.logo {
    width: 8rem;
    
}



/* MAIN */
main {
    /* debug */
    background-color: lightcoral;
}


/* JUMBO */
.jumbotron {
    background-color: rgb(180, 208, 230);
}

.jumbo {
    position: relative;
    width: 100%;
    height: 36.3rem;
}

.jumbo-title {
    position: absolute;
    top: 0;
    max-width: 80%;
    margin: 3rem 15% 0 5%;
    text-align: center;


}

.jumbo-text {
    position: absolute;
    top: 17rem;
    left: 8rem;
    width: 20rem;
}

.jumbo-img {
    position: absolute;
    top: 17rem;
    left: 27rem;
    width: 40rem; 
}

.jumbo-button {
    margin: 2rem 0;
}

.arrow-down {
    font-size: 3rem;
    margin-top: 2.8rem;
    
}

/* PLANS */
.business-title {
    margin-top: 7rem;
}

.plan {
    margin: 2rem 0;
    /* debug */
    border: 2px dashed red;
}

.yearly {
    margin-left: 3rem;
}


/* 3 COLONNE */
.colonne {
    display: flex;
    justify-content: space-between;
}
.singolo {
    width: 30%;
    padding: 1rem;
    /* debug */
    border: 2px dashed green;
}

.column-title {
    text-align: center;
    /* debug */
    border: 2px dashed blue;
}

.column-container {
    width: 85%;
    padding: .8rem 10%;
    /* debug */
    border: 2px dashed yellow;
}

.enterprise {
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    /* debug */
    border: 2px dashed yellowgreen;
}
/* PARTNER */
.partner {
    position: relative;
    
}
.partner-img {
    width: 55%;
}

.partner-text {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 40%;
    margin-left: 8%;
    /* debug */
    border: 2px dashed red;
}

/* CARDS */
.card {
    width: 33%;
    display: inline-block;
    padding: 1rem;
}

/* 500 USERS */
.users {
    width: 80%;
    height: 20rem;
    line-height: 3rem;
    text-align: start;
    /* debug */
    border: 2px dashed red;
}

.scopri {
    margin: 3rem 0;
}


/* IMG SVG */

.loghi-aziende {
    display: flex;
    justify-content: flex-start;
}

.loghi {
    width: 15rem;
    height: 15rem;
    line-height: 15rem;
    text-align: center;
    /* debug */
    border: 2px dashed yellowgreen;
    /* display: inline-block; */
    object-fit: cover;   
}

.loghi img {
    width: 50%;
    filter: invert();
}

.central-col {
    width: 100%; 
    margin: 2rem 0 0 3rem;
}

.central-col img {
    width: 50%;
    color: black;
}

/* DROPBOX BUSINESS */

#dropbox-business {
    width: 100%;
    height: 20rem;
    background-color: rgb(180, 208, 230);
    /* debug */
    border: 2px dashed yellowgreen;
}
.bring {
    width: 80%;
    height: 12rem;
    background-color: rgb(180, 208, 230);
    margin-top: 5rem;
    text-align: start;
    position: relative;
    /* debug */
    border: 2px dashed red;
}

.bring button {
    position: absolute;
    top: 1rem;
    right: -10rem;
}

/* DOMANDE FREQUENTI */

#domande-frequenti {
    line-height: 8rem;
    
    /* debug */
    border: 2px dashed black;
}

#domande-frequenti i {
    margin-left: 17rem; 
}

/* FOOTER */

footer {
    /* debug */
    background-color: #333;
    color: #FFF;
}

/* FOOTER LIST */
ul {
    display: inline-block;
    
   
}