/* DEBUG */

.container-small {
    /* debug */
    background-color: blueviolet;
}

.container {
    /* debug */
    background-color: rgb(180, 208, 230);
}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    width: 100%;
    height: 4rem;
    
}

.nav-start {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.nav-end {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.nav-start>div,
.nav-end>div {
    padding: 1rem;
}

.logo {
    width: 8rem;
    
}



/* MAIN */
main {
    /* debug */
    background-color: lightcoral;
}


/* JUMBO */
.jumbotron {
    background-color: rgb(180, 208, 230);
}

.jumbo {
    position: relative;
    width: 100%;
    height: 36.3rem;
}

.jumbo-title {
    position: absolute;
    top: 0;
    max-width: 80%;
    margin: 3rem 15% 0 5%;
    text-align: center;


}

.jumbo-text {
    position: absolute;
    top: 17rem;
    left: 8rem;
    width: 20rem;
}

.jumbo-img {
    position: absolute;
    top: 17rem;
    left: 27rem;
    width: 40rem; 
}

.jumbo-button {
    margin: 2rem 0;
}

.arrow-down {
    font-size: 3rem;
    margin-top: 2.8rem;
    
}

/* PLANS */
.business-title {
    margin-top: 7rem;
}

.plan {
    margin: 3rem 0;
}
/* FOOTER */
footer {
    /* debug */
    background-color: #333;
    color: #FFF;
}

/* FOOTER LIST */
ul {
    display: flex;
    justify-content: space-around;
   
}