/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
	background-color: rgb(180, 208, 230);
}

.container-small {
	max-width: 800px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

